{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx",
                "*.js",
                "*.jsx",
                "*.css",
                "*.scss",
                "*.json",
                "*.md"
            ],
            "options": { "tabWidth": 4, "useTabs": false }
        }
    ]
}
